<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        {% if title %}
            <title>{{ title }} | {{ brand }}</title>
        {% else %}
            <title>{{ brand }}</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/styles/bootstrap.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <main>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="nav navbar-nav navbar-left">
                        <ol class="breadcrumb" style="margin-top:8px;">
                            <li class="active"><b><a href="/" style="text-decoration: none; color: black;">FedUp</a></b></li>
                            {% block breadcrumb %}{% endblock %}
                        </ol>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <a class="btn btn-default" href="/upload/" role="button" style="margin-top: 10px; height: 40px;">Upload Case</a>
                    </div>
                </div>
            </nav>

            <div class="container">  
                <div style="margin-bottom: 20px;">
                    {% block head %}{% endblock %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </main>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
