<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        {% if title %}
            <title>{{ title }} | {{ brand }}</title>
        {% else %}
            <title>{{ brand }}</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/styles/bootstrap.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <main>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="nav navbar-nav navbar-left">
                        <ol class="breadcrumb" style="margin-top:8px;">
                            <li class="active"><b><a href="/" style="text-decoration: none; color: black;">FedUp</a></b></li>
                            {% block breadcrumb %}{% endblock %}
                        </ol>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        {% if loggedIn %}
                            <a class="btn btn-default" href="/upload/" role="button" style="margin-top: 10px; height: 40px;">Upload</a>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px; height: 40px;">
                                {{ userName }} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/myCases">My Cases</a></li>
                                <li><a href="/settings">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">Log Out</a></li>
                              </ul>
                            </div>
                        {% else %}
                            <a class="btn btn-default" href="/register/" role="button" style="margin-top: 10px; height: 40px;">Sign up</a>
                            <a class="btn btn-default" href="/login/" role="button" style="margin-top: 10px; height: 40px;">Sign in</a>
                        {% endif %}
                    </div>
                </div>
            </nav>

            <div class="container">  
                <div style="margin-bottom: 20px;">
                    {% block head %}{% endblock %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </main>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
          <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
