{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ caseName }}</li>
{% endblock %}

{% block head %}
    <h1><b>{{ caseName }}</b></h1>
    {% if hn == "have" %}
        {% if isMatched %}

        {% else %}
            <form action="/match">
                <button>Match with this person</button>
                <input type="hidden" name="caseID" value="{{caseNum}}" />
            </form>
        {% endif %}
    {% endif %}

    {% if isMatched %}
            {% if serviceCategory == "0" %}
                <b><p>{{ userName }} seeking a bed on {{ createdDate }}</p></b>
            {% endif %}
            {% if serviceCategory == "1" %}
                <b><p>{{ userName }} seeking food on {{ createdDate }}</p></b>
            {% endif %}
            {% if serviceCategory == "2" %}
                <b><p>{{ userName }} seeking employment on {{ createdDate }}</p></b>
            {% endif %}
    {% else %}
            {% if serviceCategory == "0" %}
                <b><p>Seeking a bed on {{ createdDate }}</p></b>
            {% endif %}
            {% if serviceCategory == "1" %}
                <b><p>Seeking food on {{ createdDate }}</p></b>
            {% endif %}
            {% if serviceCategory == "2" %}
                <b><p>Seeking employment on {{ createdDate }}</p></b>
            {% endif %}
    {% endif %}

    {% if isUserCase %}
        <div class="options" style="margin: 0px 0px 20px 0px;">
            <div class="col-md-1" style="padding: 5px 0px 20px 0px;">
                <b>Options:</b>
            </div>
            <div class="col-md-1" style="padding: 5px 0px 20px 0px;">
                <a href="/edit?caseID={{caseNum}}"><b>Edit</b></a>
            </div>
            <div class="col-md-1" style="padding: 5px 0px 20px 0px;">
                <a href="/delete?caseID={{caseNum}}"><b>Delete</b></a>
            </div>
        </div>
    <br>
    <br>
    {% endif %}
    <div style="margin: 10px 0px 0px 0px">
        <legend>Overview</legend>
        <div class="field">
            <p>{{ caseDescription }}</p>
        </div>
    </div>
    {% endblock %}

{% block content %}
    {% if isMatched %}
        <form id="build-funnelcake" action="/case/" method="post">
            <h3>Comments:</h3>
            <fieldset id="background">
            {% for comment in userComments %}
                <div class="comment" style="padding:10px" id="{{comment._id}}">
                    <p><b onclick="reply('{{comment._id}}')" class="underline-on-hover">{{ comment.userName }}</b>
                    No. <a onclick="reply('{{comment._id}}')">{{comment._id}}</a>: <br>{{ comment.comment }}</p>
                </div>
            {% endfor %}
        </fieldset>
        <textarea rows="6" cols="70" id="comment" name="comment"></textarea>
            <br>
            <button>Post</submit>

            <input hidden name="caseID" type="text" value="{{caseNum}}"></input>
        </form>
    {% endif %}

    <script>
        function reply(id){
            commentToReply = document.getElementById(id);

            commentToReply.style.backgroundColor = '#F0F0F0';
            element = document.getElementById("comment");
            var replyText = element.value + ">>" + id + " ";
            element.value = replyText;
            element.focus();
        }

        //twitter share script
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id))
            {
                js=d.createElement(s);
                js.id=id;
                js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document, 'script', 'twitter-wjs');

        //fb share script
        (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}