{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
    
{% endblock %}

{% block breadcrumb     %}
    <li class="active">Editing {{caseTitle}}</li>
{% endblock %}

{% block head %}
    <h1>Editing {{caseTitle}}</h1>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
        <form id="build-case" action="/edit?caseID={{caseNum}}" method="post">
            <div id="titleDiv" >
                <div class="field">
                    <p>Title:</p>
                    <input style="width:50%;" name="caseTitle" type="text" value="{{caseName}}"></input>
                </div>
                <div class="field">
                    <p>Identify as:</p>
                    <select name="peopleCategory">
                        <option value="0">LGBTQ</option>
                        <option value="1">Disabiled/ Disabled Dependent</option>
                        <option value="2">Military Veteran</option>
                    </select>
                </div>
                <div class="field">
                    <p>Seeking:</p>
                    <select name="serviceCategory">
                        <option value="0">Bed</option>
                        <option value="1">Food</option>
                        <option value="2">Job</option>
                    </select>
                </div>

                <div class="field">
                    <p>Describe your situation:</p>
                    <textarea name="caseDescription" rows="3" cols="100">{{ caseDescription }}</textarea>
                </div>
            </div>

            <input hidden name="userName" type="text" value="{{userName}}"></input>
            <input hidden name="createdDate" type="text" value="{{createdDate}}"></input>

            <input type="submit" value="Save" />
        </form>
        
{% endblock %}

