{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="active">Home</li>
{% endblock %}

{% block content %}

<div id="main-container">
    

    <div class="row">
        <div class="col-md-12 center-block text-center">
            <img class="img-responsive" src="/assets/images/have_need_large.png"/>
        </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <form action="/register">
                <button class="btn btn-default" style="width: 200px; height: 100px;">HAVE</button>
                <input type="hidden" name="hn" value="have" />
            </form>
        </div>
        <div class="col-md-6">
            <form action="/register">
                <button class="btn btn-default btn-lg"  style="width: 200px; height: 100px;">NEED</button>
                <input type="hidden" name="hn" value="need" />
            </form>
        </div>
      </div>
    </div>


            


</div>
{% endblock %}

