{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="active">Home</li>
{% endblock %}

{% block content %}

      <div class="row vcenter">
       
       <h4>We're here to help if you're in </h4>

        <div class="row">
            <div class="col-md-12">
                <form action="/register">
                    <button class="btn btn-default btn-lg"  style="width: 200px; height: 100px;">NEED<br></button>
                    <input type="hidden" name="hn" value="need" />
                </form>
            </div>
        </div>

        <h4>or can connect you with those you are if you're fortunate enough to</h4>

        <div class="row">
            <div class="col-md-12">
                <form action="/register">
                    <button class="btn btn-default btn-lg" style="width: 200px; height: 100px;">HAVE</button>
                    <input type="hidden" name="hn" value="have" />
                </form>
            </div>
        </div>



      </div>

{% endblock %}
