{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="active">Home</li>
{% endblock %}

{% block head %}
    <h1><b>Welcome to FedUp</b></h1>
    <p>Start discovering below by selecting one of the cases.</p> 
{% endblock %}

{% block content %}
        <form id="build-funnelcake" action="/expDetails/" method="get">
                <div id="step1">
                    <fieldset id="background">
                        {% if feature %}
                            <div class="field">
                                {% for user in userlist %}
                                    <p>{{user.username}}</p>
                                {% endfor %}
                                <legend>Recent Cases</legend>
                                 <div class="row">
                                    {% for case in recentCases %}
                                        <a style="display:block; outline: 0" href="/case?caseID={{case._id}}" >
                                            <div class="col-md-3" style="height:320px; margin:0px 10px 10px 10px">
                                                <div class="row" style="height:200px;">
                                                    {% if case.youtubeURL %}
                                                        <img width="100%" height="100%" style="max-width: 400px" src="http://img.youtube.com/vi/{{case.youtubeURL}}/hqdefault.jpg" >
                                                    {% else %}
                                                        <img width="100%" height="100%" style="max-width: 400px" src="https://cdn3.iconfinder.com/data/icons/business-world-icon-set/434/document-simple-black-icon-512.png" >
                                                    {% endif %}
                                                </div>
                                                <p style="color: black; font-size:25px">{{case.title}}</p>
                                            </div>  
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </fieldset>
                </div>

        </form>
{% endblock %}

