{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="active">Home</li>
{% endblock %}

{% block head %}
    {% if peopleCategory %}
        {% if peopleCategory == 0 %}
            <h1>Browsing LGBTQ in need</h1>
        {% endif %}
        {% if peopleCategory == 1 %}
            <h1>Browsing Disabled in need</h1>
        {% endif %}
        {% if peopleCategory == 2 %}
            <h1>Browsing Veterans in need</h1>
        {% endif %}
    {% else %}
        <h1><b>Welcome to HaveNeed 🌈</b></h1>
        <p>Start discovering below by selecting one of the cases.</p> 
    {% endif %}

{% endblock %}

{% block content %}
        <form>
                <form action="/">
                    <button class="btn btn-default btn-lg"  style="width: 200px; height: 50px;">LGBTQ+</button>
                    <input type="hidden" name="cat" value="0" />
                </form>
                <form action="/">
                    <button class="btn btn-default" style="width: 200px; height: 50px;">Disability</button>
                    <input type="hidden" name="cat" value="1" />
                </form>
                <form action="/">
                    <button class="btn btn-default" style="width: 200px; height: 50px;">Veteran</button>
                    <input type="hidden" name="cat" value="2" />
                </form>
                <div id="step1">
                    <fieldset id="background">
                        {% if feature %}
                            <div class="field">
                                {% for user in userlist %}
                                    <p>{{user.username}}</p>
                                {% endfor %}
                                <legend>Recent Cases</legend>
                                 <div class="row">
                                    {% for case in recentCases %}
                                        <a style="display:block; outline: 0" href="/case?caseID={{case._id}}" >
                                            <div class="col-md-3" style="height:370px; margin:0px 10px 10px 10px">
                                                <div class="row" style="height:200px;">
                                                    {% if case.youtubeURL %}
                                                        <img width="100%" height="100%" style="max-width: 400px" src="http://img.youtube.com/vi/{{case.youtubeURL}}/hqdefault.jpg" >
                                                    {% else %}
                                                        <img width="100%" height="100%" style="max-width: 400px" src="https://cdn3.iconfinder.com/data/icons/business-world-icon-set/434/document-simple-black-icon-512.png" >
                                                    {% endif %}
                                                </div>
                                                <div style="margin-top: 10px; height:auto; max-height:150px">
                                                    <p style="color: black; font-size:21px">{{case.title}}</p>
                                                </div>
                                                <div style="height:30px;">
                                                    {% if case.serviceCategory == "0" %}
                                                        <b><p>Seeking a bed on {{ case.createdDate }}</p></b>
                                                    {% endif %}
                                                    {% if case.serviceCategory == "1" %}
                                                        <b><p>Seeking food on {{ case.createdDate }}</p></b>
                                                    {% endif %}
                                                    {% if case.serviceCategory == "2" %}
                                                        <b><p>Seeking employment on {{ case.createdDate }}</p></b>
                                                    {% endif %}
                                                </div>
                                            </div>  
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </fieldset>
                </div>

        </form>
{% endblock %}

