{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="active">My Cases</li>
{% endblock %}

{% block head %}
    <h1><span class=" glyphicon glyphicon-modal-window" aria-hidden="true"></span> Your Cases</h1>
{% endblock %}

{% block content %}
<html>
  <body>
    <form action="/logout" method="post">
        <div class="row">
            {% for case in userCases %}
            	<a style="display:block; outline: 0" href="/case?caseID={{case._id}}" >
                    <div class="col-md-3" style="height:350px; ">
                        <div class="row" style="height:200px;">
                            <img width="250" height="200" src="http://img.youtube.com/vi/{{case.youtubeURL}}/hqdefault.jpg" >
                        </div>
                        <p style="color: black; font-size:25px">{{case.title}}</p>
                        <p style="color: black;">{{case.date}}
                        <br>{{case.officerName}}</p>
                    </div>  
                </a>
            {% endfor %}
        </div>
    </form>
  </body>
</html>
{% endblock %}