{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block breadcrumb %}
    <li class="active">Case Submission</li>
{% endblock %}

{% block head %}
    <h1 id="title">Write your case title</h1>
    <p id="subhead">This is the first thing people will see about your case. Get their attention with a short title that focuses on why your story matters.</p> 
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
        <form id="build-case" action="/upload/" method="post">
            <div id="titleDiv" >
                <div class="field">
                    <p>Title:</p>
                    <input style="width:50%;" name="caseTitle" type="text" value="{{exptitle}}"></input>
                </div>
                <div class="field">
                    <p>Identify as:</p>
                    
                    <label class="radio-inline">
                      <input type="radio" name="serviceCategory" id="inlineRadio1" value="0"> LGBTQ
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="serviceCategory" id="inlineRadio2" value="1">Disabiled/ Disabled Dependent
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="serviceCategory" id="inlineRadio3" value="2"> Military Veteran
                    </label>

                </div>
                <div class="field">
                    <p>Seeking:</p>
                    
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="0"> Bed
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="1"> Food
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="2"> Job
                    </label>

                </div>

                <div class="field">
                    <p>Describe your situation:</p>
                    <textarea name="caseDescription" rows="3" cols="100">{{ caseDescription }}</textarea>
                </div>
            </div>

            <button id="submitBtn" type="submit">Submit</button>
        </form>
        <button type="button" id="prevBtn" style="display:none">Previous</button>
{% endblock %}

