{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
    
{% endblock %}

{% block breadcrumb     %}
    <li class="active">Case Submission</li>
{% endblock %}

{% block head %}
    <h1>Upload your case</h1>
    <p>Start submitting your FedUp case by entering in case data below.</p> 
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
        <form id="build-case" action="/upload/" method="post">
                    <fieldset id="background">
                        <legend>Case Type</legend>
                        <div class="field">
                            <div class="field">
                                <div>
                                    <p>Privacy</p>
                                </div>
                                <select name="privacy">
                                    <option value="0">Public</option>
                                    <option value="1">Private</option>
                                    <option value="2">Private with Lawyer Access</option>
                                </select> 
                            </div>

                            <div class="field">
                                <div>
                                    <p>Case Title:</p>
                                </div>
                                <input required autofocus required style="width:50%;" name="caseTitle" type="text" value="{{exptitle}}">
                                </input>
                            </div>

                            <div class="field">
                                <div>
                                    <p>Incident Date:</p>
                                </div>
                                 <input required id="date" type="date" name="date" value="{{date}}">
                                </input>
                            </div>

                            <div class="field">
                                <div>
                                    <p>Description:</p>
                                </div>
                                <textarea required name="caseDescription" rows="3" cols="150">{{ caseDescription }}</textarea>
                            </div>

                            <div class="field">
                                <div>
                                    <p>Youtube URL:</p>
                                </div>
                                <input required type="url" style="width:50%;" name="youtubeURL" value="{{youtubeURL}}">
                                </input>
                            </div>

                            <div class="field">
                                <div>
                                    <p>Officer Name:</p>
                                </div>
                                <input required style="width:50%;" name="officerName" type="text" value="{{officerName}}">
                                </input>
                            </div>
                        </div>
                    </fieldset>

            <input type="submit" value="Submit" />
        </form>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
    $(function() {
    $( "#date" ).datepicker();
  });
    </script>

{% endblock %}

